.formulario {
  width: 400px;
  margin-top: 50px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #4caf50;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
.formulario h2 {
  text-align: center;
  margin-top: 0;
}

.formulario label {
  display: block;
  margin-top: 10px;
}
.formulario input,
.formulario select,
.formulario button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #4caf50;
  background-color: #262626;
  color: white;
  outline: none;
}
.formulario .inputContainer{
  position: relative;
}
.formulario .eye{
  position: absolute;
  color: #4caf50;
  right: 10px;
  top: 50%;
  transform: translateY(-30%);
  cursor: pointer;
  }

.formulario select{
  cursor: pointer;
}
.formulario input:focus {
  box-shadow: 0 0 6px #64e96b inset;
}

.formulario button {
  margin-top: 15px;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.formulario button:hover {
  background-color: #64e96b;
}

.formulario hr {
  color: #eb7412;
  margin: 15px auto;
  width: 50%;
  box-shadow: 0 0 5px #eb7412;
}

.formulario p{
  font-size: 12px;
}
.formulario a{
  margin-left: 5px;
  color: #d0ff00;
}

.formulario button:disabled {
  color:transparent;
  background-color: #4caf4f1a;
  cursor: not-allowed;
}

.alert {
  color: #f13d06;
  font-weight: bold;
}

.hidde{
  display: none;
}

.fa-eye-slash{
  color: red;
}
 

/* ******************************** */
/* RESPONSIVE  */

@media (max-widt: 480px) {
  
}