 .container {
  margin-top: -0;
  text-align: center;
  font-size: 2rem;
}

.container button {
  padding: 8px;
  margin: 0 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  outline: none;
  background-color: #1a72f7 ;
  cursor: pointer;
  border: none;
}

.container button:hover{
    background-color: #458cf7;

}
 
.container a:nth-of-type(2) button {
    background-color: #0c8053;
}

