.wrapContainer {
  height: 90vh;
  background-image: url("../assets/img/weightlifter-3944725_640.png");
  background-repeat: no-repeat;
  background-position: center;
}


.container {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}

.container button {
  padding: 8px;
  margin: 0 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  outline: none;
  background-color: #1a72f7;
  cursor: pointer;
  border: none;
}

.container button:hover {
  background-color: #458cf7;
  box-shadow: 0 0 10px #2f7ff8;
}

.container a:nth-of-type(2) button {
  background-color: #0c8053;
}

.container a:nth-of-type(2) button:hover {
  background-color: #15ad73;
  box-shadow: 0 0 10px #27ad15 ;
}
/* ********************************* */
/* Responsive !!  */

/* @media (max-width: 1024px) {
  
} */

/* @media (max-width: 768px) {

} */

@media (max-width: 480px) {
  .container {
    font-size: 1rem;
  }

  .container button {
    margin: 10px 15px;
  }
}
