* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: auto;
   background: linear-gradient(to top, #121212, #011411);
  padding: 0 30px;
 
}
.wrapper {
  height: auto;
  margin-top: 50px;
  padding: 0 10px;
   color: #ffff;
  text-shadow: 0 0 10px #38f3a5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "Courier New", Courier, monospace;
}

/* ********************************* */
/* Responsive !!  */

/* @media (max-width: 1024px) { 

} */

/* @media (max-width: 768px) {
 
} */

@media (max-width: 480px) {
  body {
    padding: 0px;
  }
  .wrapper {
    /* border: 1px solid red; */
    height: 600px;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
